BasedOnStyle: LLVM
NamespaceIndentation: All
FixNamespaceComments: false
BreakBeforeBraces: Allman
UseTab: ForIndentation
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: -2
IndentAccessModifiers: false
IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
ReferenceAlignment: Left
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: None
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowShortIfStatementsOnASingleLine: Never
